<mat-toolbar color="primary">
  <span>TODO</span>
</mat-toolbar>

<mat-spinner *ngIf="loading$ | async"></mat-spinner>
<mat-card
  class="card"
  *ngIf="!(error$ | async); else error"
>
  <form [formGroup]="formGroup">
    <mat-form-field appearance="outline" class="card__form">
      <input
        formControlName="task"
        matInput
        placeholder="Enter your task"
        fxFlex="90%"
      />
      <!-- <mat-icon>add</mat-icon> -->
      <button mat-icon-button fxFlex="10%" (click)="addTodo()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </form>

  <mat-card
    fxLayoutAlign="space-between"
    *ngFor="let task of todoTask$ | async"
  >
    <span>{{ task.todo }}</span>
    <div fxLayoutGap="6px">
      <button mat-icon-button>
        <mat-icon>update</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteTodo(task.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</mat-card>
<ng-template #error> error occur </ng-template>
